{% extends 'balance/base.html' %}
{% block title %}Список счетов{% endblock %}

{% block content %}
    <h2>Счета</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Название</th>
            <th>Тип</th>
            <th>Баланс</th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.number }}</td>
                <td>{{ account.name }}</td>
                <td>{{ account.get_account_type_display }}</td>
                <td>{{ account.balance }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
